<div class="header">
    <div class="ducks" style="display: flex; justify-content: space-between; align-items: flex-end; flex-basis: 40%;"></div>
    <div style="display:flex;flex-basis:60%;align-items:flex-end;">
        <div class="andrew_golubev" style="text-wrap: nowrap;"><a href="/">//andrew golubev</a></div>
        <div class="links">
            <div class="text" style="padding-right:15px; border-right: solid 1px var(--border-color);"><a href="/">posts</a></div>
            <div class="text" style="padding-left:8px"><a href="../contacts.html">contacts</a></div>
        </div>
    </div>
</div>
