<div class="header">
    <div class="logo_titles">
        <div class="andrew_golubev"><a href="/">Andrew Golubev</a></div>
        <div class="text" id="programming_computer_graphics">programming / computer graphics</div>
    </div>

    <!-- center div to align about and posts to right-->
    <div style="flex-grow:1;"></div>

    <div class="text" style="margin-left:auto;"><a href="/">posts</a></div>
    <div class="text" style="margin-left:auto;"><a href="../about.html">about</a></div>
</div>
