<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrew Golubev</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Alegreya+Sans:wght@100&family=Lato:wght@100;300&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"> </script>

    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="{{ url_for('static',filename='js/ajax_before_setup.js') }}"></script>
    {% if current_user.is_authenticated %}
        <script src="{{ url_for('static',filename='js/edit_delete_post.js') }}"></script>
    {% endif %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toggle.css') }}" />

    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta id="is_authenticated" content="{{current_user.is_authenticated}}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EDBDMLQ22M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EDBDMLQ22M');
    </script>
</head>
<body>
<script src="{{ url_for('static',filename='js/theme_switcher.js') }}"></script>

<div class="container" id="container">
    <div class="item"></div>
    <div class="item-center">
        <div>{% include "items/header.html" %}</div>

        <div class="text post-header">posts</div>

        <list>
            <div class="text post-parent">
                <div style="flex-grow:1;width:100%"></div>
                <div class="" style=" background-color:transparent;display:flex;justify-content: flex-end;margin:5px;">
                    {% if current_user.is_authenticated %}
                        <a href="/create_new_post">
                            <input class="btn btn-default text admin_button new_post_button" type="submit" value="+ Add new post">
                        </a>
                    {% endif %}
                </div>
            </div>

            <div id="posts-block">
                {%for i in range(all_posts| length)%}
                    <div class="text post-parent post_div">
                        <div class="text year">
                            {% if current_user.is_authenticated %}
                              <input class="btn btn-default text admin_button edit_button" type="submit" value="Edit" onclick="edit_post({{all_posts[i].id}})">
                              <input class="btn btn-default text admin_button delete_button" type="submit" value="Delete" onclick="delete_post({{all_posts[i].id}})">
                            {% else %}
                                {{posts_years[i]}}
                            {% endif %}
                        </div>
                        <a class="post {{'post-alt' if i % 2 == 0 else 'post'}}" href="post/{{all_posts[i].header.lower().replace(" ", "_")}}">
                            <div class="text" style="margin:8px">{{all_posts[i].header}}</div>
                            <div style="flex-grow:1;"></div>
                            <div class="text">{{all_posts[i].creation_date.strftime("%d %b")}}</div>
                        </a>
                    </div>
                {%endfor%}
            </div>

        </list>


        <div class="text pagination">
            {%for i in range(1, pages_amount+1)%}
                {%if i==page_num%}
                    <div class="pagination" style="color:var(--text_main_color);opacity: 100%;"><a href="/{{i}}">{{i}}</a></div>
                    <div>&nbsp;</div>
                {%else%}
                    <div class="pagination"><a href="/{{i}}">{{i}}</a></div>
                    <div>&nbsp;</div>
                {%endif%}
            {%endfor%}
        </div>


        <footer id="footer">{% include "items/footer.html" %}</footer>
    </div>

    <div class="item">
        <div style="display:flex; flex-direction: column; flex-grow:1;">
            <div id="dark_theme_toggle">{% include "items/dark_theme_toggle.html" %}</div>
        </div>
    </div>
</div>

<div class="starting-line"></div>

</body>
</html>