<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="toggle.css">

<div class="header">
    <div class="logo_titles">
        <div class="andrew_golubev">Andrew Golubev</div>
        <div class="text" id="programming_computer_graphics">programming / computer graphics</div>
    </div>

    <!-- center div to align about and posts to right-->
    <div style="flex-grow:1;"></div>

    <div class="text" style="margin-left:auto;">posts</div>
    <div class="text" >about</div>
</div>

