<!DOCTYPE html>
<html lang="en">

<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<title>golubevcg</title>
<meta charset="UTF-8">
</head>

<header>
    <div class="container">
        <div class="item"><div class="starting-line"></div></div>
        <div class="item-center header">
            <div class="logo_titles">
                <div class="andrew_golubev">Andrew Golubev</div>
                <div class="programming_computer_graphics">programming / computer graphics</div>
            </div>

            <!-- center div to align about and posts to right-->
            <div style="flex:1; text-align: center;"></div>

            <div class="text" style="margin-left:auto;">posts</div>
            <div class="text" >about</div>
        </div>
        <div class="item">
            <div style="display:flex; flex-direction: column; flex-grow:1;">
                <div class="starting-line"></div>
                <div style="display:flex; flex-direction: row; margin-left: 10px">
                    <div class="css_mode_button">button</div>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <!--posts header-->
    <div class="container" >
        <div class="item"></div>
        <div class="item-center text post-header">posts</div>
        <div class="item"></div>
    </div>

    <!--posts list-->
    <div class="container">
        <div class="item"></div>
        <div class="item-center text posts-container">
            <div class="item-center text">
                <div class="post">
                    <div class="text" style="margin:8px">Autodesk Maya custom reference editor</div>
                    <div style="flex:1;text-align: center;"></div>
                    <div class="text" style="margin-left:auto;">25 Oct</div>
                </div>
            </div>

            <div class="item-center text post">
<!--                <div class="post">-->
                <div class="text">Telegram API live location retrieving</div>
                <div style="flex:1; text-align: center;"></div>
                <div class="text" style="margin-left:auto;">19 Sept</div>
<!--                </div>-->
            </div>

            <div class="item-center text post">
<!--                <div class="post">-->
                <div class="text">Autodesk Maya viewport screenshot widget</div>
                <div style="flex:1; text-align: center;"></div>
                <div class="text" style="margin-left:auto;">01 Apr</div>
<!--                </div>-->
            </div>

            <div class="item-center text post">
<!--                <div class="post">-->
                <div class="text">Tetris inside Maya using Python API & cmds</div>
                <div style="flex:1; text-align: center;"></div>
                <div class="text" style="margin-left:auto;">05 Jan</div>
<!--                </div>-->
            </div>

            <div class="item-center text post">
<!--                <div class="post">-->
                <div class="text">Autodesk Maya rigging receipt manager</div>
                <div style="flex:1; text-align: center;"></div>
                <div class="text" style="margin-left:auto;">10 Dec</div>
<!--                </div>-->
            </div>


        </div>
        <div class="item"></div>
    </div>


</body>
</html>
